<h1>About Us</h1>
<div class="aboutContent">
<strong>Ka-Boomers Fireworks</strong>
                  is one of the largest wholesaler, retailer, importer, and distributor 
                  of fireworks in the Midwest. Ka-Boomers Fireworks has been operating 
                  for over 25 years. Our corporate offices are centrally located 
                  in Wahoo, Nebraska. <br>
                  <br>
                  <strong>Ka-Boomers Fireworks</strong> currently have over 150 retail locations 
                  and continue to grow each year. Our retail locations are known 
                  and recognized as &frac12; Price Outlets. We currently operate 
                  in a five state area: Nebraska, Kansas, Missouri, South Dakota, 
                  and Minnesota. <br>
                  <br>
                  <strong>Ka-Boomers Fireworks</strong> is known nationwide for our &#147;SNAKE 
                  BITE&#148; and &#147;SURVIVOR&#148; brands. We only put our 
                  logo on those products that we have highest quality, value, 
                  and selection. Ka-Boomers currently stocks over 250 different 
                  types of fireworks. Our newest addition to our line of fireworks 
                  has been the 500 gram multi-shots which are the most beautiful 
                  and powerful fireworks in the marketplace. <br>
                  <br>
                  <strong>Ka-Boomers Fireworks</strong> are all quality tested and meet 
                  or exceed all Consumer Product Safety Commission Requirements. 
                  Safety concerns are always high on our agenda, which is why 
                  Ka-Boomers work closely with many local and state government 
                  bodies and also are members of the National Fireworks Association, 
                  with many local organizations such as the Nebraska Retailers 
                  Association.
			 </div>