<h1>Contact Us</h1>
<div class="aboutContent">
<strong>Telephone for KA-BOOMERS Fireworks:</strong><br />
Monday through Friday, 9 AM - 4 PM<br />
1-402-443-4593<br />
Fax:<br />
1-402-443-4614
<p><strong>E-Mail Address:</strong><br />
<a href="mailto:contact@kaboomersfireworks.net">contact@kaboomersfireworks.net<br />
                    </a> </p>
<p><strong>Street Address:</strong><br />
1258 County Road 18<br />
Wahoo, Nebraska <br />
</p>
<p><strong>Mailing address:</strong><br />
PO Box 86<br />
Wahoo, Nebraska 68066

</div>