<h1>Home</h1>
<strong>Thank you for coming to Ka-Boomer's ½ Price Fireworks.
Ka-Boomer's supplies fireworks to retailers, wholesalers, 
and consumers all across the Midwest. You will not find 
this large of a selection of fireworks anywhere else in 
the country and our prices are the absolute lowest in 
the market place. Please contact us with any questions 
or inquiries you may have.</strong>