@import "bootstrap";
/*this lets me have a background under all of the elements*/

body{ 
  background: url(background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container{
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 25px;
}
.navbar .nav{
      padding:0px 0px 0px
    }